.newsletter {
    background-color: #fce3fe;
    padding: 60px 80px;
    text-align: center;
  }
  
  .newsletter h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .newsletter input[type="email"] {
    padding: 10px 15px;
    font-size: 1rem;
    width: 300px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
  
  .newsletter button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff4141;
    color: white;
    border: none;
    cursor: pointer;
  }
  